<!DOCTYPE html>
<html>
    <% include partials/_layout.ejs %>
    <body>
        <!--Header-->
        <% include partials/_header.ejs %>
        <!--Navigation Bar-->
        <% include partials/_navigation.ejs %>
        
        <div class="container">
            <% include partials/_title %>
            <div class="row">
                <div class="col">
                    <div class="box" name="box">
                        <hr>
                            <h2 class="intro-text text-center">GMFHOA Governing <strong>Documents</strong></h2>
                        <hr class="visible-xs"><hr>
                        <a class="pf-list list-group-item">George Mason Forest ACC Guidelines</a>
                        <a class="pf-list list-group-item">George Mason Forest Articles of Incorporation for George Mason Forest Homeowners Association, Inc.</a>
                        <a class="pf-list list-group-item">George Mason Forest Homeowners Association By-Laws</a>
                        <a class="pf-list list-group-item">George Mason Forest Declaration of Covenants, Conditions and Restrictions</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="box" name="box">
                        <hr>
                            <h2 class="intro-text text-center">GMFHOA Board Meeting <strong>Minutes</strong></h2>
                        <hr class="visible-xs"><hr>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>2017</th>
                                    <th>2016</th>
                                    <th>2015</th>
                                    <th>2014</th>
                                    <th>2013</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                    
                              </tr>
                              <tr>
                                   
                              </tr>
                              <tr>
                                    
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/_footer.ejs %>
    </body>
</html>